{:paths ["src"]

 :deps  {#_#_org.clojure/clojure {:mvn/version "1.12.4"}
         #_#_org.clojure/clojurescript {:mvn/version "1.12.134"}}

 :aliases
 {:dev         {:extra-paths ["dev"]
                :extra-deps  {nrepl/nrepl {:mvn/version "1.5.1"}}}

  :test        {:extra-paths ["test"]
                :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :bench       {:extra-paths ["bench"]
                :extra-deps  {criterium/criterium {:mvn/version "0.4.6"}}
                :jvm-opts    ["-Xms512m" "-Xmx512m"]
                :main-opts   ["-m" "co.multiply.scoped-bench"]}

  :bench-runtime {:extra-paths ["bench"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.12.5"}
                               criterium/criterium {:mvn/version "0.4.6"}}
                  :jvm-opts ["-Xms512m" "-Xmx512m"]
                  :main-opts ["-m" "co.multiply.scoped-runtime-bench"]}

  :bench-test  {:extra-paths ["bench"]
                :extra-deps {org.clojure/clojure {:mvn/version "1.12.5"}
                             criterium/criterium {:mvn/version "0.4.6"}}
                :main-opts ["-m" "co.multiply.scoped-bench-runner-test"]}

  :shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "3.3.4"}}}

  :build       {:ns-default build
                :deps       {io.github.clojure/tools.build {:mvn/version "0.10.11"}
                             slipset/deps-deploy           {:mvn/version "0.2.2"}}}

  :cljdoc      {:extra-deps {io.github.cljdoc/cljdoc-analyzer {:git/tag "v1.0.873" :git/sha "bf4f620c"}}
                :main-opts  ["-m" "cljdoc-analyzer.cljdoc-main"]}}}
