#kaocha/v1
{:tests [{:id          :unit
          :source-paths []
          :test-paths  ["test"]
          :ns-patterns [".*-test(-clj)?$"]}]

 :plugins [:kaocha.plugin/capture-output]

 :capture-output? true}
